<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class="container">
                <h1>本日のテニスの予定</h1>
                <p>
                    <?= activeUser ?> さん
                </p>
                <div v-if="!isLoading">
                    <div v-if="tennisEvents.length === 0">
                        予定はありません
                    </div>
                    <div v-else>
                        本日のテニスの予定
                        <li v-for="item in tennisEvents">
                            {{ item.title }}
                        </li>
                    </div>
                    <button type="button" class="btn btn btn--radius" @click="addTennisFunction(this)">一つ追加</button>
                    <button type="button" class="btn btn btn--radius" @click="removeTennisFunction(this)">一つ削除</button>
                </div>
                <p>{{ eResult.info}}</p>
                <p>{{ eResult.warn}}</p>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://github.com/seri114/clasp_tennis"><img
                src="https://gh-card.dev/repos/seri114/clasp_tennis.svg"></a>
    </footer>
    <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?>
</body>

</html>