<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <h1>テニスの予定を追加</h1>
        <p>
            <?= activeUser ?> さん
        </p>
        <div v-if="!isLoading">
            <div v-if="!isTennisAdded">
                <div class="buttonOutlineGradient" @click="addTennisFunction(this)">
                    <span class="buttonOutlineGradient_item">テニスの予定を追加</span>
                </div>
            </div>
            <div v-else>
                <div class="buttonOutlineGradient" @click="removeTennisFunction(this)">
                    <span class="buttonOutlineGradient_item">テニスの予定を削除</span>
                </div>
            </div>
        </div>
        {{ eResult }}
    </div>
    <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?>
</body>

</html>