<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class="container">
                <h1>本日のテニスの予定</h1>
                <p>
                    <?= activeUser ?> さん
                </p>
                <div v-if="!isLoading">
                    <div v-if="tennisEvents.length === 0">
                        予定はありません。<br>
                        追加してください。
                    </div>
                    <div v-else>
                        <li v-for="item in tennisEvents">
                            {{ item.title }}
                        </li>
                    </div>
                    <button type="button" class="btn btn--radius" @click="addTennisFunction(this)">&nbsp;<i class="fa-solid fa-plus" style="size-adjust: 80%;"></i>&nbsp;追加&nbsp;</button>
                    <button v-if="tennisEvents.length > 0" type="button" class="btn btn--radius"
                        @click="removeTennisFunction(this)">&nbsp;<i class="fa-solid fa-xmark" style="size-adjust: 80%;"></i>&nbsp;削除&nbsp;</button>
                </div>
                <p>{{ eResult.info}}</p>
                <p class="red">{{ eResult.warn}}</p>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://github.com/seri114/clasp_tennis"><img
                src="https://gh-card.dev/repos/seri114/clasp_tennis.svg"></a>
    </footer>
    <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?>
</body>

</html>